body{
    background-color: #383838;
}
.selected{
	padding:5px;
	background-color: rgba(0,0,0,0.3);
}
a{
	transition-duration: 1s;
	transition-property: background-color,padding;
	color:#EEE;
}
img{
	float:left;
}
ul{
	list-style: none;
	float:left;

}
#information{
	position:absolute;
	top:35%;
	border: solid;
	width:35%;
}
/*Towns selection coordinates*/
.Cianwood_City{
	position: absolute;
	float: none !important;
	left: 54px;
	top: 102;
}
.Olivine_City{position: absolute;
float: none !important;
left: 78px;
top: 54px;}
.Ecruteak_City{
    position: absolute;
    float: none !important;
    left: 118px;
    top: 38px;
}
.Mahogany_Town {
    position: absolute;
    float: none !important;
    left: 166px;
    top: 38px;
}
.Blackthorn_City {
    position: absolute;
    float: none !important;
    left: 206px;
    top: 38px;
}
.Indigo_Plateau {
    position: absolute;
    float: none !important;
    left: 254px;
    top: 46px;
}
.Violet_City{
    position: absolute;
    float: none !important;
    left: 134px;
    top: 54px;
}
.Goldenrod_City {

    position: absolute;
    float: none !important;
    left: 102px;
    top: 94px;

}
.Azalea_Town {
    position: absolute;
    float: none !important;
    left: 118px;
    top: 134px;
}
.Cherrygrove_City {
    position: absolute;
    float: none !important;
    left: 158px;
    top: 102px;
}
.New_Bark_Town{
		position: absolute;
    float: none !important;
    left: 214px;
    top: 102px;
}
.Pallet_Town{
    position: absolute;
    float: none !important;
    left: 270px;
    top: 110px;
}
.Cinnabar_Island{
    position: absolute;
    float: none !important;
    left: 270px;
    top: 134px;
}

.Viridian_City {

    position: absolute;
    float: none !important;
    left: 270px;
    top: 86px;

}
.Pewter_City {
    position: absolute;
    float: none !important;
    left: 270px;
    top: 54px;
}

.Cerulean_City {

    position: absolute;
    float: none !important;
    left: 350px;
    top: 46px;

}

.Saffron_City {

    position: absolute;
    float: none !important;
    left: 350px;
    top: 70px;

}
.Lavender_Town {
    position: absolute;
    float: none !important;
    left: 382px;
    top: 70px;
}
.Celadon_City {
    position: absolute;
    float: none !important;
    left: 326px;
    top: 70px;
}
.Vermilion_City {
    position: absolute;
    float: none !important;
    left: 350px;
    top: 94px;
}
.Fuchsia_City {
    position: absolute;
    float: none !important;
    left: 334px;
    top: 117px;
}
